.depoimento {
    max-width: 100%;
    background-color: #f4f8ff;
    border: none;
    border-radius: 12px;
    margin: 20px;
}

img {
    max-width: 56px;
    max-height: 56px;
    margin-top: 16px;
}

ul {
    padding: 0;
    list-style: none;
}

li {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
}

mat-card-content {
    display: flex;
    align-items: start;
    gap: 16px;
}